= javascript_include_tag '/scripts/battle_show_3d/three.js'
= javascript_include_tag '/scripts/battle_show_3d/detector.js'
= javascript_include_tag '/scripts/battle_show_3d/stats.js'
= javascript_include_tag '/scripts/battle_show_3d/orbitControls.js'
= javascript_include_tag '/scripts/battle_show_3d/threex.FullScreen.js'
= javascript_include_tag '/scripts/battle_show_3d/threex.KeyboardState.js'
= javascript_include_tag '/scripts/battle_show_3d/threex.WindowResize.js'
= javascript_include_tag '/scripts/battle_show_3d/effects/AnaglyphEffect.js'
= javascript_include_tag '/scripts/battle_show_3d/battle_show_3d.js'

div id="battle-3d-wrapper" style="position: absolute; left:0px; top:74px"
